.message-form{
    margin-left: 10%;
    margin-top: 10%; 
}
.left-contents{
    position: absolute;
    width: 50%;
    height: 80vh;
    background-color: #0F0F0F;
    color:#F9FAFA;
    font-size: 2em;
    opacity: 0.6;
}
.bg-img{  
    height: 80vh;
    width: 100%;  
    margin-bottom: -10px; 
}
#submit{
    border: none;
    padding: 10px 30px;
    background-color: #F9FAFA;
    cursor: pointer;
    text-transform: uppercase;
}
#submit:hover {
    background-color: #F9FAFA;
    opacity: 0.8;
}
.fa{
  font-size: 1em;
  color:cornflowerblue;
}
i{
  font-size: 1em;
  color: whitesmoke;
  text-decoration: none;
  font-weight: lighter;
}
.fa:hover{
  size: 1em;
  opacity: 1;
}

@media screen and (max-width:768px){
    .message-form{
        margin-left: 10px;
        margin-top: 10px;
    }
    .left-contents{
        width: 100%;
    }
    .message-form h3{
      text-align: center;
      margin-top: 5vh;
      margin-bottom: 5vh;
    }
    i{
      font-size: medium;
    }
    
}

/* LOADING */
  
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }
  
  