/* CAROUSEL */
.logo img{
    width: 22vh;
    height: 22vh;
    margin-top: -6vh;
    margin-bottom: -7vh;
}

img{
    width: 100%;
    height: 100vh;
    margin-bottom: -20px;
}
.phoneImg{
    display: none; 
}
 /* Caption text */
.text{
    font-size: 3em;
    position: absolute ;
    top: 50% ;
    left: 50% ;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
 }
 .text a{
     color:whitesmoke ;
     font-family: 'Source Code Pro', monospace;
 }
.text:hover{
    font-size: 4em;
    opacity: 0.8;
}
 /*attelo telefona izmeram citu pareizaka izmera bildi*/
@media screen and (max-width:768px){
    .phoneImg{
        display: inline; 
        height: 70vh;
    }
    .scrnImg{
        display: none;
    }
    .text{
        top:40%;
    }
    .text:hover{
        font-size: 3em;
    }
    .text a{
        font-size: xx-large;
    }
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 3s;
    } 
@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}

  /* Media query for phone */
  @media screen and (max-width:768px){ 
    .left-contents{
      width: 100%;
      text-align: center;
      scroll-behavior: unset;
    }
    .button { 
      font-size: 0.8em;
    }
    .bg-img{
      display: none;
    }
    .phoneBg-img{
      display: inline-block;
      height: 100vh;
      width: 100%;
    }
}


 /* Loading */
  
 .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }
  


