*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: monospace, Arial, Helvetica, sans-serif;
}
  /* MAIN CONTENT */
  .left-contents{
    width: 50%;
    position: absolute;
    background-color: #0F0F0F;
    color:#F9FAFA;
    font-size: 2rem;
    opacity: 0.6;
    height: 100vh;
  }
  .bg-img{  
    width: 100%; 
    height: 100vh;  
  }
  .phoneBg-img{
      display: none;
  }
  .centered{
      text-align: center;
      align-items: center;   
  }
  .left-contents > h1{
      margin-top: 30%;
      font-size: 3rem;
      letter-spacing: 2px;
  }
  
  /* ENTER BUTTON */
  .enter-btn{
      text-align: center;
  }
  .button {
      background-color:#F9FAFA; 
      color:black;
      padding: 16px 32px;
      display: inline-block;
      font-size: 1em;
      transition-duration: 0.7s;
      cursor: pointer;
      margin-top: 10%;
      opacity: 0.1;
    }
  .button:hover{
      background-color:#0F0F0F;
      color: #F9FAFA;
  }
  a{
      text-decoration: none;
      text-emphasis: none;
      color: black;    
  }
    
    /* SOCIAL MEDIA ICONS */
  .media-btns{ 
        margin-top: 20%;
        font-size: 4rem;
        text-align: center;
        margin-right:10px;
        opacity: 0.1;
  }
  .fa {
      width: 50px;  
      text-decoration: none;  
  }
  .fa-facebook {
      color: #F9FAFA;
  }
  .fa-facebook:hover{ 
      color:blue
  }
  .fa-instagram {
      color: #F9FAFA;
  }
  .fa-instagram:hover {
      color: orange;
  }
  
  /* Media query for phone */
  @media screen and (max-width:768px){ 
        .left-contents{
          width: 100%;
          text-align: center;
          scroll-behavior: unset;
        }
        .button { 
          font-size: 0.8em;
        }
        .bg-img{
          display: none;
        }
        .phoneBg-img{
          display: inline-block;
          height: 100vh;
          width: 100%;
        }
  }

  /* Loading */
  
  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }
  
  